body {
    height: 100vh;
    width: 100%;
    margin: 0;

    background-color: var(--palette-apricot);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Noto Serif', serif;
    font-weight: 100;
    font-size: 2.5rem;
    color: var(--shade-1);
    margin: 0;
    margin-bottom: 1rem;
}

sup {
    font-size: 0.4rem;
    font-weight: 800;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    flex-wrap: wrap-reverse;
}

.env-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    height: inherit;
}

.form-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-left: 2px var(--palette-salmon) dashed;
}

.form-wrapper > h1 {
    font-family: 'Noto Serif', serif;
    font-weight: 100;
    font-size: 3rem;
    color: var(--shade-1);
    text-align: center;
    margin: 0;
    margin-bottom: 2rem;
    
}

form > label {
    font-family: 'Noto Serif', serif;
    font-weight: 100;
    color: var(--shade-1);
    margin-top: 2rem;
}

fieldset {
    border-radius: 1rem;
    border-color: var(--palette-mint_green);
}

fieldset > legend {
    font-family: 'Noto Serif', serif;
    font-weight: 100;
    color: var(--shade-1);
    margin-top: 2rem;
}

fieldset > label {
    font-family: 'Noto Serif', serif;
    font-weight: 100;
    color: var(--shade-1);
    margin-top: 2rem;
}

fieldset > h3 {
    font-family: 'Noto Serif', serif;
    font-weight: 100;
    font-size: 0.6rem;
    color: var(--shade-1);
    margin: 0;
}

.input-field {
    width: calc(100% - 1.5rem);
    padding: 0;
    border: none;
    outline: 2px var(--palette-mint_green) solid;
    margin: 2px;
    color: var(--palette-eggplant);
    padding: 10px;
    
    border-radius: 5px;
    box-shadow:  -2.5px 2.5px 5px #cb8b76,
                    2.5px -2.5px 5px var(--palette-apricot);
}

textarea {
    height: 10rem;
    resize: none;
}

.input-field:focus {
    outline: 2px var(--palette-tiffany_blue) solid;
}

#submit-button {
    font-family: 'Courier Prime', monospace;
    background-color: var(--palette-mint_green);
    color: var(--shade-1)
}

#submit-button:hover {
    background-color: var(--palette-light_sea_green);
    color: var(--palette-apricot);
    cursor: pointer;
}

