:root {
    --palette-light_sea_green: #27C2B5;
    --palette-dutch_white: #DBD8B3;
    --palette-apricot: #FCC8B2;
    --palette-atomic_tangerine: #EFA48B;
    --palette-eggplant: #685369;
    --palette-salmon: #FC8A79;

    --shade-1: #262626;
    --shade-2: #404040;
    --shade-3: #8C8C8C;
    --shade-4: #080606;
    --shade-5: #F2F2F2;
}

/* 
https://coolors.co/27c2b5-dbd8b3-fcc8b2-efa48b-685369 
*/