:root {
    --palette-light_sea_green: #27C2B5;
    --palette-tiffany_blue: #93E1DA;
    --palette-mint_green: #C9F0ED;
    --palette-isabelline: #F4EAE9;
    --palette-melon: #FFB1B2;
    --palette-salmon: #FF8A8C;
    --palette-bittersweet: #FF6365;

    --shade-1: #262626;
    --shade-2: #404040;
    --shade-3: #8C8C8C;
    --shade-4: #080606;
    --shade-5: #F2F2F2;
}

/* 
https://coolors.co/27c2b5-dbd8b3-fcc8b2-efa48b-685369 
*/